APP_NAME="POS System"
APP_ENV=production
APP_KEY=base64:TVELlwVPFnjiVfEFI3dHzVtmsdsp6ik2A/3yrUjvRP8=
APP_DEBUG=false
APP_URL=https://api.pos.doinikhisab.online

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=cpanel_username_posdb
DB_USERNAME=cpanel_username_posuser
DB_PASSWORD=your_db_password_here

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.doinikhisab.online

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@doinikhisab.online"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=pos.doinikhisab.online,www.pos.doinikhisab.online

EPBX_BASE_URL=https://ebsbazarbd.epbx.bd/api/v1
EPBX_VERIFY_URL=https://ebsbazarbd.epbx.bd/api/v1/calls/verify
EPBX_API_TOKEN=SmjIPNlkdCDZpkXDLJEL7WoASn7ib5xPhhihFvSV
EPBX_DIALER_URL=https://ebsbazarbd.epbx.bd/dialer
